doctype html
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Example app
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots", content="noindex, nofollow")
    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js")
    link(href="/resources/css/bootstrap.min.css", rel="stylesheet")
  body
    block content